<% customers.each do |customer| %>
  <tr>  
    <td><%= image_tag customer.get_profile_image(40,40) , class: "rounded-circle", size: "40x40" %></td>
    <td>
      <%= link_to customer_path(customer) do %>
        <%= customer.name %>
      <% end %>
    </td>
    <td>
      <div id = "relationship_<%= customer.id %>">
        <%= render partial: "public/relationships/relationship", locals: { customer: customer } %>
      </div>
    </td>
  </tr>
<% end %>