  <div class="row">
    <div class="col-4">
    
    <h1>投稿詳細</h1>
    <%= @post.name %><br>
    <%= @post.title %><br>
    <%= @post.body %><br>
    <% if @post.post_images.attached? %>
      <% @post.post_images.each do |image| %><br>
        <%= image_tag image.variant(resize: '50x50') %>
      <% end %>
    <% end %>
      <% if @post.customer.id == current_customer.id %>
        <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
        <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
      <% end %>
    </div>
    
    <div class="col-8">
      
    <h1>post_comment</h1>
    <%= form_with model: [@post, @post_comment] , remote:false do |f| %>
      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    <% end %>
    
      <% @post.post_comments.each do |post_comment| %>
      <h3><%= post_comment.comment %><h3>
      <% end %>
    </div>
  </div>  