  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <% if @post.post_images.attached? %>
          <div style="width: 500px;">
            <p><strong>Image</strong></p>
            <% @post.post_images.each do |image| %>
              <%= image_tag image.variant(resize: "300", gravity: "center", crop: "240x240+0+0") %>
            <% end %>
              <div class="tag-box">
                <p>画像タグ一覧</p>
              <% @post.tags.each do |tag| %>
                  <span class="label-bottan"><%= tag.name %></span>
              <% end %>
              </div>
          </div>
        <% end %>
        <div　style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">
              <%= image_tag @post.customer.get_profile_image(50,50) ,class:  "rounded-circle" %>
              <%= link_to @post.customer.name ,customer_path(@post.customer)%><br>
              <%= @post.name %>(<%= @post.ride_area%>)
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">~~<%= @post.title %>~~</h6>
            <p class="card-text"><%= @post.body %></p>
            <p class="sentiment-score">本文の感情分析スコア[<%= @post.score %>]</p>
            <% if @post.customer == current_customer || admin_signed_in? %>
               <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success"%>
               <%= link_to '消去', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
             <% end %>
          </div>
        </div>
        <div class="col-lg-6">
          <% if customer_signed_in? %>
          <div id="comments_form">
            <%= render partial: 'public/post_comments/form', locals:{ post: @post, post_comment: @post_comment } %>
          </div>
          <% end %>
          <h3>コメント一覧</h3>
          <div id="comments_area">
            <%= render partial: 'public/post_comments/index', locals:{post: @post,post_comments: @post_comments } %>
          </div>
         <%= paginate @post_comments %>
        </div>
      </div>
  
    </div>
  </div>
