<% @another_entries.each do |entry| %>
  <%= link_to room_path(entry.room) do %>
    <div class="card">
      <div class="card-body">
        <div>
          <div class="d-flex">
            <div class="chat-avatar">
              <object>
                <%= link_to customer_path(entry.customer) do %>
                  <%= image_tag entry.customer.avatar_image %>
                <% end %>
              </object>
            </div>
            <div class="chat-user-name">
              <%= entry.customer.name %>
            </div>
          </div>
        </div>
        <div class="chat-text">
          <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>