<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
    <%= form_with url: admin_customers_search_path, method: :get do |f| %>
          <%= f.label :顧客検索 %>
          <%= f.text_field :name %>
          <%= f.submit "検索" %>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">会員id</th>
            <th scope="col">氏名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">会員ステータス</th>
              <th scope="col">評価</span </th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer) do %>
                <%= customer.name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <td><% if customer.is_deleted == false %>
                  <p class="text-success font-weight-bold">有効</p>
                <% else %>
                  <p class="text-secondary font-weight-bold">退会</p>
                <% end %>
            </td>
            <td>
    
              <% if customer.bad_score? %>
           　  　<div class="red-maru"></div>
           　　<%else%>
           　　 　<div class="green-maru"></div>
           　　<%end%>
             </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>