<div class="row">
  <div class="col-md-8">
    <h4><%= @customer.name %>さんの会員詳細</h4>
    <table class="table">
      <tr>
        <th>会員ID</th>
        <th><%= @customer.id %></th>
      </tr>
      <tr>
        <th>氏名</th>
        <th><%= @customer.name %></th>
      </tr>
       <tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <th><% if @customer.is_deleted == false %>
               <p class="text-success">有効</p>
             <% else %>
               <p class="text-secondary">退会</p>
             <% end %>
        </th>
      </tr>
       <tr>
         <td><%= link_to "編集する",edit_admin_customer_path(@customer), class:"btn btn-outline-secondary" %></td>
         <td style="text-decoration:underline"><%= link_to "コメント一覧を見る",admin_root_path(customer_id: @customer.id) %></td>
       </tr>
    </table>
  </div>
</div>
