<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "Customer" %>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image(50,50) , class: "rounded-circle", size: "50x50" %><br><%= customer.name %></td>
          <td><%= customer.introduce %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.customer.name %></td>
          <td><%= post.body %></td>
          <td><%= post.ride_area %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>