<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark py-3">
    <a class="navbar-brand p-3" href="/">温泉投稿サイト</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarCollapse-2" aria-controls="navbarCollapse-2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse-2">
      <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ" ,customer_path(current_customer), class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "タイムライン",posts_path, class: 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to "通知",notifications_path, class: 'nav-link'  %>
            <% if unchecked_notifications.any? %>
              <span class= "text-danger">●</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "いいね一覧",likes_customer_path(current_customer), class: 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿",new_post_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "DM",rooms_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to  "ログアウト",destroy_customer_session_path, method: :delete, class: 'nav-link', data: { confirm: 'ログアウトしますか？' } %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link', data: { confirm: 'ログアウトしますか？' } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Home",root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "サイト紹介",about_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録",new_customer_registration_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン",new_customer_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>